<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>SQLクイズ</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <h1>SQLの問題</h1>
    <div id="app">
        <div v-if="currentQuestion">
            <h2>{{ currentQuestion.title }}</h2>
        </div>

        <button @click="prevQuestion" :disabled="index === 0">前へ</button>
        <button @click="nextQuestion" :disabled="index === questions.length - 1">次へ</button>
        <div>
            <h3>元テーブル</h3>
            <p>テーブル名: {{ currentDb }}</p>
            <table border="1">
                <thead>
                    <tr>
                        <th v-for="col in allColumns" :key="col">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, idx) in allRows" :key="idx">
                        <td v-for="col in allColumns" :key="col">{{ row[col] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>SQLを実行する</h2>
        <textarea v-model="sql" rows="5" cols="60" placeholder="ここにSQLを入力"></textarea>
        <br />
        <button @click="executeSQL">実行</button>

        <div v-if="result.length">
            <h3>結果</h3>
            <table border="1">
                <thead>
                    <tr>
                        <th v-for="col in columns" :key="col">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(row, idx) in result" :key="idx">
                        <td v-for="col in columns" :key="col">{{ row[col] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button @click="checkAnswerCorrectness">正解かどうか</button>
            <p v-if="isCorrect === null">まだ解答していません</p>
            <div v-else>
                <p>解答例</p>
                <div v-if="currentAnswer">
                    <pre>{{ currentAnswer.query }}</pre>
                </div>
                <p v-if="isCorrect === true" style="color: green;">✅ 正解です！</p>
                <p v-else-if="isCorrect === false" style="color: red;">❌ 不正解です</p>
            </div>
        </div>


    </div>
    <script type="module" src="/main.js"></script>
</body>

</html>